@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
/* font-family: 'Roboto', sans-serif; */

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.red-text{
  color: red;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--card); 
  border-radius: 3vh;
  
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(52, 58, 67); 
}

.dark {
  --gemtextcard_2:rgba(176, 176, 176, 0.436);
  --background: rgb(17, 24, 39);
  --card: rgb(31, 41, 55);
  --textcard: rgb(225, 225, 225);
  --textcard_2: rgba(225, 225, 225, 0.49);
  --textcard_3: rgba(255, 255, 255, 0.711);
  --webbox_colorBack: rgba(16, 31, 52, 0.647);
  --subox:white;
  --suboxtext:rgb(41, 51, 64);
  --leftcardbox:white;
  --dayandnightmode:white;
}

:root {
  --gemtextcard_2:rgb(50, 66, 89);
  --background: 	rgb(222, 222, 222);
  --card: #fafafa;
  --textcard: rgb(17, 24, 39);
  --textcard_2: rgb(31, 41, 55);
  --textcard_3: rgba(31, 41, 55, 0.753);
  /* --webbox_colorBack: #484b6a;*/
  --webbox_colorBack: rgb(60, 89, 170) ;
  --subox:rgb(60, 89, 170);
  --suboxtext:white;
  --leftcardbox:white;
  --dayandnightmode:rgb(154, 154, 154);

}


body{
  margin: 0;
  padding: 0;
  background-color:var(--background);
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;

}


/* bar bar bar  *//* bar bar bar  *//* bar bar bar  *//* bar bar bar  *//* bar bar bar  */

.top_bar{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: var(--card);
  color: var(--textcard);
  height: 10vh;
}

.top_bar h1{
  line-height: 0;
  padding: 10px;
  font-weight: bolder;
}

.ullistForNaveBar{
  position: absolute;
  font-size: 2.8vh;
  line-height: 10.1vh;
  top:-3.1vh;
  right:0;
}

.leftbarcontaner{
  list-style-type: none;
  z-index: 2;
  padding-right:1vw;
  float: right;
}
.logo{
  margin-top:3.3vh ;
  margin-left:-1vh ;
  margin-right:-1.4vh ;
  width: 25px;
  height: 25px;
  background-color: var(--dayandnightmode);
  border-radius:10vh ;  

}

.diveder{
  margin-top:2.8vh ;
  height: 4.5vh;
  width: 0.3vh;
  background-color: rgb(221, 221, 221);
}

#toggleButton{
  margin-top:3.3vh ;
  margin-left:-0.5vh ;
  margin-right:-0.7vh ;
  width: 25px;
  height: 25px;
  background-color: var(--dayandnightmode);
  border-radius:10vh ;
}

#toggleButton2{
  position: absolute;
  margin-top:-1vh ;
  margin-left:-1vh ;
  margin-right:-1.5vh ;
  width: 25px;
  height: 25px;
  background-color: var(--card);
  border-radius:10vh ;
}

/* card *//* card *//* card *//* card *//* card */
.xloutputBox{
  position: absolute;
  width: 100%;  
  top: 14vh;
}


.card{
  position: absolute;
  top:0%;
  margin: auto;
  height: 18vh;
  position: relative;
  margin-top: 10px;
  background-color: var(--card);
  color: var(--textcard);  
  width: 95%;
  border-radius: 3vh;
  transition: 0.5s ease-in-out;
  overflow: hidden;
}



.remove-card-button{
  position: absolute;
  width: 1.5vw;
  height: 3vh;
  border-radius: 50vh;
  background-color: rgba(0, 255, 0, 0.803);
  transition: 0.5s;
}

.INremove-card-button{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 1.0vw;
  height: 2.0vh;
  border-radius: 50vh;
  /* background-color: red; */
  background-color: rgb(60, 89, 170);
  background-color: var(--card);
  transition: 0.5s;
  opacity: 0.9;
}

.remove-card-button:hover .INremove-card-button{
  width: .65vw;
  height: 1.4vh;
  transition: 0.5s;
} 

.remove-card-button:hover {
background-color: red;
} 

.card-UrlNameTextbox{
  position: relative;
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
  padding-bottom: 0px;
  width: 180px;
}

#cardleftbox{
  left: 0;
  width: 100%;
  text-align:left;
  position: relative;
  height: 9.0vh;  

}

.card-tile p{
  line-height: 0;
  font-weight: bold;
  color: var(--textcard_2);
  color: green;
  font-size:12px ;
}

.card-tile_date2{
  display: flex;
  float: left;
}

.card-tile{
  position: relative;
  padding-left: 10px;
  font-size: 14px;
  top: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; 
  overflow: hidden;
  text-overflow: ellipsis;
}



.xloutputBox{
  overflow-x: hidden;

}
.h6card-tile{

  margin: 0;
  margin-top: 16.5px;
  font-size: 2vh;
}

.card:hover .card-tile {
  -webkit-line-clamp: 5; 
  transition: 1s;
}






/* date  */
.progress-container {
  position: absolute;
  width: 100px;
  height: 1vh;
  top: 0;  
  right: 0;
  margin: 14px;
  background-color: var(--background);
  border-radius: 3vw;
}

.progress-bar {
  height: 100%;
  border-radius: 3vw;
  background-color: #4caf4f;
}

.card-lastDate{
  font-size: 10px;
  color: var(--textcard_3);
  margin: 0%;
  padding: 0%;
  position: absolute;
  right: 14px;
  top: 20px;
}


.WebsiteName{
  position: absolute;
}




/* .UrlName{} */

/* left-cardbox *//* left-cardbox *//* left-cardbox *//* left-cardbox *//* left-cardbox *//* left-cardbox *//* left-cardbox */
.left-cardbox{

  display: none;
  position: absolute;
  left: 0.91vw;
  top: 14.0vh;
  width: 15vw;
  height: 83.8vh;
  background-color:var(--card);

  border-radius: 3vh;
  color: var(--textcard);
}

.left-midcardbox{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 14vw;
  height: 82vh;
  border-radius: 3vh;
  background-color: var(--left-midcardbox);
}

.WebsiteName{
  position: relative;
  top: 2.5%;
  left: 7%;
  height: 10vh;
  font-size: 2.5vh;
  font-weight: bold;
}

.WebsiteCantaner{
  position: absolute;
  font-size: 2vh;
  top: 4.4vh;
  font-weight:100;
  left: 0.3vw;
  padding-left: 1vw;
  padding-top: 1.2vh;
  height: 3.5vh;
  width: 10vw;
  border-radius: 3vh;
  color: var(--suboxtext);
  background-color: var(--subox);
transition: 0.2s ease-in-out; /* Add a transition for smooth effect */
} 

.DropdownWebsiteBox{
  position: absolute;
  font-size: 2vh;
  text-align: left;
  top: 5vh;
  font-weight: 100;
  left: -0vw;
  padding: 1vh;
  width: 12.9vw;
  border-radius: 3vh;
  z-index: 1;
  opacity: 0; 
  visibility: hidden;
  color: var(--suboxtext);
  background-color: var(--subox);
  transition: opacity 0.5s ease-in-out; /* Add a transition for smooth effect */
}

.WebsiteCantaner:hover{
  width: 12.9vw;
  left: -1vw;
  transition: opacity 0.5s ease-in-out; /* Add a transition for smooth effect */
  
  }
  
.WebsiteCantaner:hover  .DropdownWebsiteBox{
  opacity: 1; /* Change opacity to 1 on hover */
  visibility: visible;
transition: 0.2s ease-in-out; /* Add a transition for smooth effect */
}

/* key */
.WebsiteCantaner_key{
  position: absolute;
  font-size: 2vh;
  top: 4.4vh;
  font-weight:100;
  left: 0.3vw;
  padding-left: 1vw;
  padding-top: 1.2vh;
  height: 3.5vh;
  width: 10vw;
  border-radius: 3vh;
  color: var(--suboxtext);
  background-color: var(--subox);
transition: 0.2s ease-in-out; /* Add a transition for smooth effect */
} 

.DropdownWebsiteBox_key{
  position: absolute;
  font-size: 2vh;
  text-align: left;
  top: 5vh;
  font-weight: 100;
  left: -0vw;
  padding: 1vh;
  width: 12.9vw;
  border-radius: 3vh;
  z-index: 1;
  opacity: 0; 
  visibility: hidden;
  color: var(--suboxtext);
  background-color: var(--subox);
  transition: opacity 0.5s ease-in-out; /* Add a transition for smooth effect */
}

.WebsiteCantaner_key:hover{
width: 12.9vw;
left: -1vw;
transition: opacity 0.5s ease-in-out; /* Add a transition for smooth effect */

}

.WebsiteCantaner_key:hover .DropdownWebsiteBox_key{
  opacity: 1; /* Change opacity to 1 on hover */
  visibility: visible;
  transition: opacity 0.2s ease-in-out; /* Add a transition for smooth effect */
}

.space{
  position: absolute;
  /* background-color: #4caf4f; */
  background-color: transparent;
  
  height: 7vh;
  width: 100%;
  top: 0;
  left: 0;

}

.space .DropdownWebsiteBox_key:hover {
  background-color: aqua;
}


.space:hover{
  width: 13.9vw;
}

.space .DropdownWebsiteBox_key{
  opacity: 1; /* Change opacity to 1 on hover */
  visibility: visible;
  transition: opacity 0.2s ease-in-out; /* Add a transition for smooth effect */
}


.Keywords{
  position: relative;
  margin-top: 1.5vh;
  top: 1%;
  left: 7%;
  height: 10vh;
  font-size: 2.5vh;
  font-weight: bold;
}


/* date */
.Date{
  position: relative;
  margin-top: 1.3vh;
  left: 7%;
  /* height: 10vh; */
  font-size: 2.5vh;
  font-weight: bold;
  margin-bottom: 1vh;
}

.DateCantaner{
  font-size: 2vh;
  font-size: 2vh;
  font-weight: 100;
}

.Special_Character{
  position: relative;
  left: 7%;
  height: 10vh;
  font-size: 2.5vh;
  font-weight: bold;
}

/* SearchBut *//* SearchBut *//* SearchBut *//* SearchBut *//* SearchBut */
#SearchBut{
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 80%;
  margin: auto;
  text-align: center;
  background-color: var(--subox);
  color: var(--suboxtext);
  border-radius: 10px;
  transition: 0.2s;
}

#SearchBut:hover{
  transition: 0.2s;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  background-color: var(--subox);
  color: var(--suboxtext);
  font-weight: bold;
 }

/* CharacterCU *//* CharacterCU *//* CharacterCU *//* CharacterCU */
.CharacterCU{
  margin: 0.5vh;
  font-weight: 100;
  font-size: 2vh;
}

/* end end end end */
.pagedata{
  position: relative;
  width: 100vw;
  min-height: 112.5vh;
  /* background-color: aqua; */
}
.endpage{
  margin-top: auto;
  bottom: 0%;
  width: 97vw;
  background-color: var(--card);
  color: var(--textcard);
  height: 25vh;
  border-bottom-left-radius:0.5vh ;
  border-bottom-right-radius:0.5vh ;
  border-radius: 3vh;
}